body {
    background-color: black;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100vh;
    /* Establece la altura del body al 100% de la ventana */
    margin: 0;
    /* Elimina el margen por defecto del body */
}

main {
    width: 100%;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}